<section>
    <img src="<%= showBook.image_url %>" alt="">
    <h2>
        <%= showBook.title %>
    </h2>
    <p>
        <%= showBook.author %>
    </p>
    <% if (route) { %>
        <p>
            <%= showBook.description %>
        </p>
        <p>ISBN:
            <%= showBook.isbn %>
        </p>
        <p class="hidden-on-save">Bookshelf:
            <%= showBook.bookshelf %>
        </p>
        <%- include('formInputs.ejs', {showBook, route})%>
            <% if (route === '/update') { %>
                <button id="update">Update Details</button>

                <% } %>

                    <% } %>
                        <% if (!route) { %>
                            <a href="/books/<%=showBook.id%>"><button>View Details</button></a>
                            <% } %>
</section>